@'
**/.venv/
**/.venv-gan/
**/venv/
**/__pycache__/
*.pyc
**/weights/
**/src_basicsr/
**/basicsr-1.4.2.tar.gz
**/.env
**/data/raw_videos/*
**/data/frames/*
**/data/enhanced/*
**/real_esrgan_test_output.png
**/restormer_test_output.png
'@ | Set-Content -Path .gitignore -Encoding utf8